.box {
    width: 100px;
    height: 100px;
    background-color:aquamarine;
}
.box2 {
    width: 100px;
    height: 100px;
<<<<<<< HEAD
    background-color:rgb(255, 255, 255);
}
=======
    background-color:rgb(0, 0, 0);
}
>>>>>>> ae0c59fa940d128bff6c3daba390b5f3135a6a70
